<!-- <div class="container">
    <div class="row">
        <input  #query (keyup)="filter(query.value)" type="text" class="form-control my-2" placeholder="serach">
        <table class="my-5 table table-hover table-striped">
            <thead class="table-dark">
                <tr>
                    <th>Naziv</th>
                    <th>autor</th>
                    <th>ISBN</th>
                    <th>zanr</th>
                   <th>Izdavac</th>
                    <th>broj stranica</th>
                    <th>Datum izdavanja</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let book of filteredBooks;let i = index">
                    <td>{{book.naziv}}</td>
                    <td>{{book.autor}}</td>
                    <td>{{book.ISBN}}</td>
                    <td>{{book.zanr}}</td>
                    <td>{{book.izdavac}}</td>
                    <td>{{book.broj_stranica}}</td>
                    <td>{{book.godina_izdavanja}}</td>
                    <td> <a class="btn btn-warning" routerLink="book/{{book.id}}">Details</a></td>

                </tr>
            </tbody>
           
        </table>
    </div>
</div> -->
<div class="container my-5">
    <div class="row">
        <input  #query (keyup)="filter(query.value)" type="text" class="form-control border border-primary my-5" placeholder="serach">
      <!-- <button class="add-button" routerLink="add" ><i class="bi bi-person-fill-add">ADD</i></button> -->
      <div
        class="col-lg-4 cardy"
        *ngFor="let pd of filteredBooks | paginate: { itemsPerPage: 6, currentPage: page, totalItems: totalLength };let i = index"
      >
        <div class="playerbox mt-3 mb-3">
        <h2>{{pd.naziv}}</h2>
          <p>{{ pd.autor }}</p>
          <p>{{pd.zanr}}</p>
         
          <p>{{ pd.izdavac }}</p>
         
          <p> <a class="btn btn-warning my-4" routerLink="book/{{pd.id}}">Details</a></p>
          <br />
         
        </div>
  
      </div>
      <pagination-controls class="text-center my-5" (pageChange)="page = $event"></pagination-controls>
    </div>
</div>