<div class="container">
    <div class="row">
        <table class="my-5 table table-hover table-striped">
            <thead class="table-dark">
                <tr>
                    <th>Naziv</th>
                    <th>autor</th>
                    <th>ISBN</th>
                    <th>zanr</th>
                   <th>Izdavac</th>
                    <th>broj stranica</th>
                    <th>Datum izdavanja</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let book of books">
                    <td>{{book.naziv}}</td>
                    <td>{{book.autor}}</td>
                    <td>{{book.ISBN}}</td>
                    <td>{{book.zanr}}</td>
                    <td>{{book.izdavac}}</td>
                    <td>{{book.broj_stranica}}</td>
                    <td>{{book.godina_izdavanja}}</td>
                    <td> <a class="btn btn-warning" routerLink="book/:{{book.id}}">Details</a></td>

                </tr>
            </tbody>
           
        </table>
    </div>
</div>
