<div class="card" *ngIf="book">
    <a routerLink="/f" class="btn btn-sm btn-secondary mb-3 back"  >Back</a>
    <h3 class="card-header">{{book.naziv}}</h3>
    <!-- <h4>{{book.naziv}}</h4> -->
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item">Autor: {{book.autor}}</li>
            <li class="list-group-item">Zanr: {{book.zanr}}</li>
            <li class="list-group-item">Izdavac: {{book.izdavac}}</li>
            <li class="list-group-item">Izdanje: {{book.godina_izdavanja}}</li>
            <li class="list-group-item">Broj Stanica: {{book.broj_stranica}}</li>
            <li class="list-group-item">ISBN broj knjige: {{book.ISBN}}</li>
            <!-- <li>{{book.id}}</li> -->
        </ul>
    </div>
    <div class="card-footer">
        <div class="btn-group">
            <a routerLink="/book/edit/{{book.id}}" class="btn btn-info">Edit</a>
            <button class="btn btn-danger" (click)="deleteBook()">Delete</button>

        </div>
    </div>
</div>
