<div class="container">
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col-4 dr">
            <div class="card shadow task">
                <div class="card-body">
                    <form>
                        <div class="mb-3 ">
                            <h4 class="text-warning text-muted">Welcome</h4>
                          <button type="submit" routerLink="/f">Enjoy in exelecnt books</button>
                        </div>
                        <div class="mb-3">
                            <p class="text-muted">Link has sent on your registered email. Please verify it.</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>
